<ng-template #card_modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cadastrar Imovel</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submitImovel()">
      <div class="row">
        <div class="col-md-5 pr-1">
          <div class="form-group">
            <label>Titulo</label>
            <input
              formControlName="title"
              type="text"
              id="title"
              class="form-control"
              placeholder="casa av.torres"
            />
            <div
              *ngIf="f['title'].touched && f['title'].invalid"
              class="alert-input"
            >
              <div *ngIf="f['title'].errors?.['required']">
                campo obrigatório
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Descrição do Imovel</label>
            <textarea
              class="form-control"
              id="description"
              rows="4"
              cols="80"
              placeholder="descrição do imovel a venda"
              formControlName="description"
            ></textarea>
            <div
              *ngIf="f['description'].touched && f['description'].invalid"
              class="alert-input"
            >
              <div *ngIf="f['description'].errors?.['required']">
                campo obrigatório
              </div>
            </div>
          </div>
          <div class="col-md-4 pl-3">
            <div class="form-group">
              <label>Preço de compra</label>
              <input
                type="text"
                class="form-control"
                formControlName="purchase_price"
                id="purchase_price"
                currencyMask
                (ngModelChange)="calcularPercentualLucro()"
                placeholder="R$: 100.0000"
              />
              <div
                *ngIf="
                  f['purchase_price'].touched && f['purchase_price'].invalid
                "
                class="alert-input"
              >
                <div *ngIf="f['purchase_price'].errors?.['required']">
                  campo obrigatório!
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 pl-3">
            <div class="form-group">
              <label>Preço de venda</label>
              <input
                type="text"
                class="form-control"
                formControlName="sale_price"
                id="sale_price"
                currencyMask
                (ngModelChange)="calcularPercentualLucro()"
                placeholder="R$: 200.0000"
              />
              <div
                *ngIf="f['sale_price'].touched && f['sale_price'].invalid"
                class="alert-input"
              >
                <div *ngIf="f['sale_price'].errors?.['required']">
                  campo obrigatório!
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 pl-3">
            <div class="form-group">
              <label>Percentual de lucro</label>
              <input
                type="text"
                class="form-control"
                formControlName="profit_percentage"
                id="profit_percentage"
                currencyMask
                [options]="{
                  prefix: '',
                  suffix: '%',
                  thousands: '.',
                  decimal: ','
                }"
                placeholder="ex: 45%"
                [readonly]="true"
              />
            </div>
          </div>
          <!-- IMAGENS IMOVEIS -->
          <div class="form-group">
            <h4>imagens do imovel:</h4>
            <div class="row my-2 justify-content-center align-items-center">
              <div class="col-4">
                <label
                  id="area-file-upload-1"
                  for="file-upload-1"
                  class="custom-file-upload d-flex flex-column justify-content-end align-items-center"
                >
                  <i class="fa fa-cloud-upload" style="font-size: 20pt"></i>
                  <span
                    class="fw-light text-truncate"
                    id="file-upload-name-1"
                    style="font-size: 9pt; max-width: 150px"
                    >sem anexo</span
                  >
                </label>
                <input
                  formControlName="file"
                  id="file-upload-1"
                  type="file"
                  style="display: none"
                  (change)="
                    handleFileInput(
                      $event,
                      'file-upload-1',
                      'area-file-upload-1',
                      'file-upload-name-1'
                    )
                  "
                />
              </div>
              <div class="col-4">
                <label
                  id="area-file-upload-2"
                  for="file-upload-2"
                  class="custom-file-upload d-flex flex-column justify-content-end align-items-center"
                >
                  <i class="fa fa-cloud-upload" style="font-size: 20pt"></i>
                  <span
                    class="fw-light text-truncate"
                    id="file-upload-name-2"
                    style="font-size: 9pt; max-width: 150px"
                    >sem anexo</span
                  >
                </label>
                <input
                  formControlName="file"
                  id="file-upload-2"
                  type="file"
                  style="display: none"
                  (change)="
                    handleFileInput(
                      $event,
                      'file-upload-2',
                      'area-file-upload-2',
                      'file-upload-name-2'
                    )
                  "
                />
              </div>
              <div class="col-4">
                <label
                  id="area-file-upload-3"
                  for="file-upload-3"
                  class="custom-file-upload d-flex flex-column justify-content-end align-items-center"
                >
                  <i class="fa fa-cloud-upload" style="font-size: 20pt"></i>
                  <span
                    class="fw-light text-truncate"
                    id="file-upload-name-3"
                    style="font-size: 9pt; max-width: 150px"
                    >sem anexo</span
                  >
                </label>
                <input
                  formControlName="file"
                  id="file-upload-3"
                  type="file"
                  style="display: none"
                  (change)="
                    handleFileInput(
                      $event,
                      'file-upload-3',
                      'area-file-upload-3',
                      'file-upload-name-3'
                    )
                  "
                />
              </div>
            </div>
            <div *ngIf="showErrorMsg" class="col-4 text-danger">
              Nenhuma imagem selecionada.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-fill pull-right">
          Pronto
        </button>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</ng-template>
