<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="card p-5 bg-dark">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputName">Nome</label>
          <input
            type="text"
            [(ngModel)]="form.name"
            name="name"
            required
            class="form-control"
            id="exampleInputName"
            aria-describedby="NamelHelp"
            placeholder="Seu Nome"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Endereço de email</label>
          <input
            type="email"
            [(ngModel)]="form.email"
            name="email"
            required
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Seu email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >Nunca vamos compartilhar seu email, com ninguém.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input
            type="password"
            [(ngModel)]="form.password"
            name="password"
            required
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Senha"
          />
        </div>
        <button type="submit" class="btn btn-primary">cadastrar</button>
      </form>
    </div>
  </div>
</section>
